 
 *{  
margin: 0;
padding:0;
}

.body{
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bloc{
   background-color: rgb(255, 255, 255);
   color: black;
   height: 300px;
}

 .logo{
    width: 220px;
    height: 80PX;
    background-color: rgb(238, 23, 23);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
    padding: 10px;

 }

 
 .titre{
    width: 300px;
    height: 90PX;
    background-color: rgb(238, 23, 23);
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
 }

 .explication-marvel{
   margin-left: 20px;
    margin-top: 20px;
    width: 1500px;
    height: 50PX;
    background-color: rgb(238, 23, 23);
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
    font-style: normal;
    align-content: center;
    padding: 30px;
    font-family: "Racing Sans One", sans-serif;
    color: rgb(255, 255, 255);

 }
 .films{
   margin-left: 20px;
     width: 1500px;
    height: 510X;
    background-color: rgb(238, 23, 23);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
    font-style: normal;
    align-content: center;
    padding: 30px ;
    font-family: "Racing Sans One", sans-serif;
    color: rgb(255, 255, 255);
 }
.films-les-plus-regardé{
   margin-left: 20px;
     width: 1500px;
    height: 510X;
    background-color: rgb(238, 23, 23);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
    font-style: normal;
    align-content: center;
    padding: 30px ;
    font-family: "Racing Sans One", sans-serif;
    color: rgb(255, 255, 255);
 }

.affiche{
   margin-left:30px;
   margin-top: 30px;
   border: 1px solid black;

}
.dark{
   background-color: black;
   color: rgb(255, 255, 255);
}
